<h1>Welcome {{currentUser.username}}</h1>

<h1>Your habits</h1>

{{#each data.habits}}
  <section>
    <h2>{{this.title}}</h2>
    <p>
      Category:
      {{this.category}}
      <br />
      Goals:
      {{this.goals}}
      <br />
    </p>

    <form method="POST" action="/user-profile/{{_id}}/edit">
      <button>Edit</button>
    </form>

    <form method="POST" action="/user-profile/{{_id}}/delete">
      <button>Delete</button>
    </form>

  </section>
{{/each}}