<h2 class="navbar-brand fs-1">EDIT YOUR HABIT: {{habit.title}}</h2>

<form action="/user-profile/{{habit._id}}/edit" method="post">

  <div class="form-floating mb-3">
    <input
      type="name"
      class="form-control"
      style="width: 250px;"
      id="floatingInputGrid"
      name="title"
      value="{{habit.title}}"
    />
    <label for="floatingInputGrid">Rewrite your habit</label>
  </div>

  <div class="form-floating mb-3">
    <input
      type="name"
      class="form-control"
      style="width: 250px;"
      id="floatingInputGrid"
      name="goals"
      value="{{habit.goals}}"
    />
    <label for="floatingInputGrid">Rewrite your goal</label>
  </div>

  <select
      class="form-select mb-3"
      name="category"
      value="{{habit.category}}"
      id="floatingSelect"
      aria-label="Floating label select example"
      style="width: 250px;"
    >
      <option selected>{{habit.category}}</option>
      <option value="Health and Fitness">Health and Fitness</option>
      <option value="Financial Management">Financial Management</option>
      <option value="Life Style and Well-being">Life Style and Well-being</option>
      <option value="Personal Development">Personal Development</option>
      <option value="Productivity">Productivity</option>
    </select>
  </div>

  <div>
    <button type="submit" class="btn btn-outline-dark mb-3">Save changes</button>
  </div>

</form>